.padding-select-image {
    padding-left: 3px !important;
    padding-bottom: 3px !important;
    padding-top: 1px !important;
}

.margin-select-image {
    margin-bottom: 7px ;
    margin-top: 7px ;
    
}

/*.card-hover {
    display: none;
}*/
